JWT_SECRET=replace-this-with-a-long-random-secret
WEB_PORT=8080
API_PORT=3001
AI_PORT=8000
VITE_API_URL=http://[YOUR_MIKRUS_IPV6]:3001
VITE_AI_API_URL=http://[YOUR_MIKRUS_IPV6]:8000
CORS_ALLOW_ORIGINS=http://[YOUR_MIKRUS_IPV6]:8080
