__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
venv
data/runtime
.coverage
.coverage.*
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
README*.md
.env
.nyc_output
*.log
.vscode
*.md
.github
web
backend-node
mobile
monitoring
tests
*.cpp
CMakeLists.txt
*.so
