node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.coverage
.eslintignore
.prettierrc
.prettierignore
jest.config.js
.tsbuildinfo
dist
*.log
.vscode
*.md
.github
monitoring
mobile
backend-ai
backend-node
